#map {
  height: 100vh;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


#container {
  display: flex;
  background-color: rgb(247, 245, 158);
}


.appTitle {
  height: 15vh;
  text-align: center;
}


#page-top {
  display: inline;
}


#header {
  text-align: center;
}


#Venues {
  text-align: left;
  margin-top: 25px;
}


#Venues-List {
  display: block;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  width: 100%;
  text-align: left;
}


.listOfVenues {
  margin-top: 15px;
  padding: 15px;
}


.listOfVenues li {
cursor: pointer;
}


#Venues-List button {
  border: none;
  padding: 15px 50px;
  display: inline-block;
}


@media screen and (max-width: 348px) {
  #header {
    margin-left: 10px;
    padding-left: 10px;
  }
}


@media (max-width: 550px) {
  #Venues-List { width: 100%; }
   
  #Venues-List button { 
    padding: 5px 0px;
    margin-left: 0;
    font-size: 1.05em;
    text-align: left;
  }
}